body {
    font-family: "Arial Narrow", sans-serif;
    color: white;
    background-color: #1a1d49;
}

.searches {
    width: 30rem;
    display: block;

    margin-left: auto;
    margin-right: auto;
}

.urlSearch{
    background-color:floralwhite;
    width: 30rem;
    display: block;
    margin-left: auto;
    margin-right: auto;

    padding: 3rem;

    border-radius: 5px;
}

.searchBar {
    width: 25rem;
    height: 1.5rem;

    border-radius: 5px;
    border-style: solid;
    border-width: 1px;

    display: block;
    margin-left: auto;
    margin-right: auto;

    /* padding-left: 1rem; */
}

.buttons{
    /* Positioning and width */
    width: 8rem;
    height: 1.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;

    /* Looks */
    background-color: rgb(50, 133, 75);
    color: black;
    border-style: none;
    font-size: 1.1rem;

}